<footer class=" text-center text-lg-start sticky-bottom shadow-sm rounded-top" style="">
  <!-- Copyright -->
  <div class="text-center mt-2 fw-bolder d-flex justify-content-center" >
    <p class="mt-3">&copy; TECHBRAIN <%= Date.today.year %>All Rights Reserved</p>
  </div>
  <!-- Copyright -->
</footer>
