<div class="d-flex  align-items-center justify-content-center d-none" id="spinner" style="height: 75vh" id="spinner">
  <button class="btn btn-danger" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    <span class="visually-hidden">Loading...</span>
  </button>
  <button class="btn btn-danger ms-2" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    Please Wait, Processing !! 
  </button>
</div>
