<h1 class="text-center mt-3">These are the listed NFTs</h1>
<div class="container mt-3">
  <table class="table table-bordered border-primary" style="margin-bottom:100px">
    <thead>
      <tr class="text-center">
        <th scope="col">TokenID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <% @tokens.each do |token|%>
        <tr class="align-middle text-center">
          <td><%= token.token_ID %></td>
          <td><%= token.name %></td>
          <td class="w-25"><%= token.description %></td>
          <td class="w-25 text-center"><img src="<%= token.image_URI %>" class="img-thumbnail w-50" alt=""></td>
        </tr>
      <% end%>
    </tbody>
  </table>
</div>
