<div class="container">
  <h1 class="">Listed NFTs</h1>
</div>
<div class="container mt-3 w-sm-75">
  <div class="row row-cols-1 row-cols-2 row-cols-md-4">
    <% @tokens.each do |token| %>
      <div class="col my-3">
        <div class="card h-100">
          <img class="card-img-top" src="<%=token.image_uri%>" alt="Card image cap" style="height:100%">
          <div class="card-body">
            <h5 class="card-title"><%=token.name%></h5>
          </div>
          <ul class="list-group list-group-flush">
          </ul>
          <div class="card-body d-flex justify-content-between mx-s-2">
            <h4>
              <small class="text-muted fs-5"><%=token.list_token.list_price%> ETH</small>
            </h4>
            <%= link_to 'Buy', token_path(token) ,class: 'btn btn-primary stretched-link'%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
